@CHARSET "ISO-8859-1";
.header{
    background-color:;
    height:870px;
}
.main{
    border:0px solid black;
    height:620px;
}
.footer{
    border:0px solid black;
    height:192px;
    background-color:teal;
}
.container{
    padding-top:10px;

}
.navbar{
    background-color:teal;
    border:1px solid #dddddd;

}
.navbar li{
    padding-left:0px;
    background-color:;
    margin-left:5px solid;
}
.navbar li a{
    color:black;
    font-size:16px;
}
.navbar li:hover{
    background-color:;
    border-radius:px;
    font-weight:bold;
    border-bottom:1px solid black;
}
.dropdown-menu{
    background-color:#dddddd;
    width:200px;

}
.dropdown-menu a:hover{
    background:none;
    border-right:1px solid black;
    font-weight:bold;
}
.dropdown-menu a{
    padding-top:10px;
    padding-bottom:10px;
}
.navbar-nav li{
    margin-right:40px;
}
.jumbotron{
    padding-left:450px;
}
.heading h1{
    padding-left: 100px;
    padding-bottom: 50px;
    color: #545b62;
    font-family: initial;
    font-weight: bold;
}